<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laundry</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/images/icon-plate.webp">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .heading {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Dryer 1</th>
                    <th>Washer</th>
                    <th>Dryer 2</th>
                </tr>
            </thead>
            <tbody>
                <tr class="heading">
                    <td></td>
                    <td>Current</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ dryer1[0].name if dryer1 else '' }}</td>
                    <td>{{ washer[0].name if washer else '' }}</td>
                    <td>{{ dryer2[0].name if dryer2 else '' }}</td>
                </tr>
                <tr class="heading">
                    <td></td>
                    <td>Line</td>
                    <td></td>
                </tr>
                {% for i in range(1, max_length) %}
                <tr>
                    <td>{{ dryer1[i].name if i < dryer1|length else '' }}</td>
                    <td>{{ washer[i].name if i < washer|length else '' }}</td>
                    <td>{{ dryer2[i].name if i < dryer2|length else '' }}</td>
                </tr>
                {% endfor %}
                <tr class="input-button-row">
                    <td>
                        <form action="/addtodryer1" method="POST" onsubmit="return validateDryer1()">
                            <input type="text" placeholder="Dryer 1" name="namedryer1">
                            <button type="submit" id="submitdryer1">Submit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/addtowasher" method="POST" onsubmit="return validateWasher()">
                            <input type="text" placeholder="Washer" name="namewasher">
                            <button type="submit" id="submitwasher">Submit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/addtodryer2" method="POST" onsubmit="return validateDryer2()">
                            <input type="text" placeholder="Dryer 2" name="namedryer2">
                            <button type="submit" id="submitdryer2">Submit</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        function validateDryer1() {
            var input = document.getElementById("namedryer1").value;
            if (input == "") {
                alert("Please enter a value for Dryer 1");
                return false;
            }
            return true;
        }
        function validateWasher() {
            var input = document.getElementById("namewasher").value;
            if (input == "") {
                alert("Please enter a value for Washer");
                return false;
            }
            return true;
        }
        function validateDryer2() {
            var input = document.getElementById("namedryer2").value;
            if (input == "") {
                alert("Please enter a value for Dryer 2");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
