<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/images/icon-plate.webp">
    <style>
    </style>
</head>
<body>
    <div class="content">
        <p>Click "claim" to pick dishes to exactly meet your points needed</p>
        <p>Click "unclaim" to undo a pick</p>
        <p>Lunch is worth 2 points each</p>
        <p>Food must be put away by 3:30pm, dishes must be done by 5pm</p>
        <p>Dinner is worth 2 points each</p>
        <p>Food must be put away by 8pm, dishes must be done by 5am</p>
        <p>x1 is worth 1 point</p>
        <p>Must be done by 5am</p>
        <p>Sunday dinner is worth 3 points</p>
        <p>Fridge clean must be done in addition to dishes, must be done by 5am Monday</p>
        <p>TODO: formatting, auto process, late plates, ip for admin?, initialize members</p>
    </div>
</body>
</html>
